<h1 id="tableLabel">Current recipes</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!recipes?.length"><em>Requesting... or you don't have any recipes.</em></p>

<form>
  <label id="label-recipe-name">
    <input id="input-recipe-name" type="text"/>
  </label>
  <label *ngFor="let ingredient of ingredients" id="label-recipe-ingredient">
    <input id="input-recipe-ingredient" type="text"/>
  </label>
  <button id="button-add-ingredient-row" (click)="AddNewIngredient()">Add ingredient row</button>
  <label id="label-recipe-description">
    <input id="input-recipe-description" type="text"/>
  </label>
  <button id="button-add-recipe" (click)="AddRecipe()">Add recipe</button>
</form>

<table *ngIf="recipes.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.description }}</td>
      <td *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} {{ingredient.amount}} {{ingredient.unit}}</td>
    </tr>
  </tbody>
</table>
