<h1 id="tableLabel">Current recipes</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!recipes?.length"><em>Requesting... or you don't have any recipes.</em></p>

<form>
  <mat-form-field class="label-form">
    <mat-label class="label-recipe-name">Name</mat-label>
    <input matInput class="input-recipe-name" type="text" [(ngModel)]="recipe.Name" name="first" />
  </mat-form-field>
  <mat-form-field>
    <mat-label class="label-recipe-ingredient">Ingredient</mat-label>
    <input matInput class="input-recipe-ingredient" type="text" />
  </mat-form-field>
  <button class="button-add-ingredient-row" (click)="addNewIngredient()">Add ingredient row</button>
  <mat-form-field>
    <mat-label class="label-recipe-description">Description</mat-label>
    <input matInput class="input-recipe-description" type="text" [(ngModel)]="recipe.Description" name="first" />
  </mat-form-field>
  <button class="button-add-recipe" (click)="addRecipe()">Add recipe</button>
</form>

<table *ngIf="recipes.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.Name }}</td>
      <td>{{ recipe.Description }}</td>
      <td *ngFor="let ingredient of recipe.Ingredients">{{ ingredient.name }} {{ingredient.amount}} {{ingredient.unit}}</td>
    </tr>
  </tbody>
</table>
