
<h1 id="tableLabel">Current recipes</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!recipes?.length"><em>Requesting... or you don't have any recipes.</em></p>


<mat-form-field>
  <mat-label class="label-recipe-name">Name</mat-label>
  <input matInput class="input-recipe-name" type="text" [(ngModel)]="recipe.name" name="first" />
</mat-form-field>
<mat-form-field>
  <mat-label class="label-recipe-description">Description</mat-label>
  <textarea matInput class="input-recipe-description" [(ngModel)]="recipe.description" name="first"></textarea>
</mat-form-field>
<br />
<div *ngFor="let ing of recipe.ingredients">
  <mat-form-field>
    <mat-label class="label-recipe-ingredient-name">Ingredient name</mat-label>
    <input matInput class="input-recipe-ingredient-name" type="text" [(ngModel)]="ing.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label class="label-recipe-ingredient-amount">Ingredient amount</mat-label>
    <input matInput class="input-recipe-ingredient-amount" type="number" [(ngModel)]="ing.amount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label class="label-recipe-ingredient-unit">Ingredient unit</mat-label>
    <input matInput class="input-recipe-ingredient-unit" type="text" [(ngModel)]="ing.unit" />
  </mat-form-field>
</div>
<button mat-raised-button color="primary" class="button-add-ingredient-row" (click)="addNewIngredient()">Add ingredient row</button>
<br />
<button mat-raised-button color="primary" class="button-add-recipe" (click)="addRecipe()">Add recipe</button>

<table mat-table [dataSource]="recipes" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let recipe"> {{recipe.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let recipe"> {{recipe.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ingredients">
    <mat-header-cell *matHeaderCellDef>Ingredients</mat-header-cell>
    <mat-cell *matCellDef="let recipe">
      <ng-container *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}
      </ng-container>
      <ng-template #emptyIngredients>
        <span>No ingredients</span>
      </ng-template>
    </mat-cell>
  </ng-container>
  <!--<tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.description }}</td>
      <td *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} {{ingredient.amount}} {{ingredient.unit}}</td>
    </tr>
  </tbody><-->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
